<body>

    <div class="service-image">
        <div class="servicebc"></div>

    </div>
    <div class="seven">
        <h1>Ürünlerimiz</h1>
    </div>



    <div class="container-fluid mt-5 w-100 d-flex align-items-center justify-content-center">
        <div class="row gy-4">

            <!-- Flip Card -->
            <div class="container-fluid mt-5 w-100">
                <div class="row gy-4">

                    <!-- Flip Card -->
                  


            <!-- You can repeat the above structure for more flip cards and just change the random value in the image URL -->
            <!-- Flip Card -->
            <div class="col-lg-3 col-md-4  col-sm-6  col-12">
                <a href="https://localhost:7090/home" class="flip-card-link"></a>
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <!-- Front -->
                        <div class="flip-card-front">
                            <img src="https://img.freepik.com/free-photo/top-view-nuts-table_23-2148519179.jpg?w=740&t=st=1702018844~exp=1702019444~hmac=a1603e2c5e9a08b16739b29d6f8f6a0dda1db6a386922bc8090142d31cedf6b2" alt="Random Image" class="img-fluid w-100 h-100">
                            <div class="flip-text">Item Two</div>
                        </div>
                        <!-- Back -->
                        <div class="flip-card-back">
                            <div class="content-container">
                                <h5>Back Title</h5>
                                <p>Some text about this flip card.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- 3rd -->
            <!-- Flip Card -->
          

            <!-- 4th -->
            <!-- Flip Card -->
            <div class="col-lg-3 col-md-4  col-sm-6 col-12">
                <a href="https://localhost:7090/home" class="flip-card-link"></a>
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <!-- Front -->
                        <div class="flip-card-front">
                            <img src="https://img.freepik.com/free-photo/top-view-fresh-whole-walnuts-shells-cleaned-up-brown_140725-19002.jpg?w=740&t=st=1702018679~exp=1702019279~hmac=71210c7ed77f73c06c8c0fc644000a5051abf8a081516ad5fb81b710ef4f77f6" alt="Random Image" class="img-fluid w-100 h-100">
                            <div class="flip-text">Item Four</div>
                        </div>
                        <!-- Back -->
                        <div class="flip-card-back">
                            <div class="content-container">
                                <h5>Back Title</h5>
                                <p>Some text about this flip card.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- within row class -->

        </div>
        <!-- end row -->
    </div>
    <!-- contain end -->
    </div>
    </div>

    <section class="about-section">
        <div class="container">
            <div class="row">
                <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                    <div class="inner-column">
                        <div class="sec-title">
                            <span class="title"></span>
                            <h2>2015 yılından beri faaliyet gösteren ceviz tutkunlarıyız.</h2>
                        </div>
                        <div class="text">Gazelli Grup olarak, yıllardır müşterilerimize en kaliteli ceviz ürünlerini sunmaktan gurur duyan bir ihracat şirketiyiz. Ceviz dünyasında lider bir konumda bulunuyor ve bu başarıyı müşteri memnuniyetine ve ürün kalitesine olan bağlılığımıza borçluyuz..</div>
                        <div class="text">
                            Müşterilerimize en taze ve lezzetli cevizleri sunabilmek için her aşamada özenle çalışıyoruz. Cevizlerimiz özenle seçilir, işlenir ve dünya çapındaki müşterilerimize ulaştırılır. Sektördeki deneyimimiz ve uzmanlığımız sayesinde müşterilerimize en iyi kaliteyi sunmaktan her zaman gurur duyuyoruz.
                        </div>
                        
                    </div>
                </div>

                <!-- Image Column -->

                <figure class="image-1"><a href="#" class="lightbox-image" data-fancybox="images"><img title="Rahul Kumar Yadav" src="https://img.freepik.com/free-photo/pistachios_1368-9180.jpg?w=740&t=st=1698642252~exp=1698642852~hmac=11cef185912d29e8dfc41fea0420325430a5633aa2611ac462045b2ab6975288" alt=""></a></figure>

            </div>
        </div>
        </section>
    <section class="about-section">
        <div class="container">
            <div class="row">
                <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                    <div class="inner-column">
                        <div class="sec-title">
                            <span class="title"></span>
                            <h2>2015 yılından beri faaliyet gösteren ceviz tutkunlarıyız.</h2>
                        </div>
                        <div class="text">Gazelli Grup olarak, yıllardır müşterilerimize en kaliteli ceviz ürünlerini sunmaktan gurur duyan bir ihracat şirketiyiz. Ceviz dünyasında lider bir konumda bulunuyor ve bu başarıyı müşteri memnuniyetine ve ürün kalitesine olan bağlılığımıza borçluyuz..</div>
                        <div class="text">
                            Müşterilerimize en taze ve lezzetli cevizleri sunabilmek için her aşamada özenle çalışıyoruz. Cevizlerimiz özenle seçilir, işlenir ve dünya çapındaki müşterilerimize ulaştırılır. Sektördeki deneyimimiz ve uzmanlığımız sayesinde müşterilerimize en iyi kaliteyi sunmaktan her zaman gurur duyuyoruz.
                        </div>

                    </div>
                </div>

                <!-- Image Column -->

                <figure class="image-1"><a href="#" class="lightbox-image" data-fancybox="images"><img title="Rahul Kumar Yadav" src="https://img.freepik.com/free-photo/natural-cashew_1368-5463.jpg?w=740&t=st=1698642202~exp=1698642802~hmac=0807e9c6540850dbc60dad0b71ae26815fa271d6e2d3e62924ea949ef594d3a6" alt=""></a></figure>

            </div>
        </div>
    </section>
     <section class="about-section">
        <div class="container">
            <div class="row">
                <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                    <div class="inner-column">
                        <div class="sec-title">
                            <span class="title"></span>
                            <h2>2015 yılından beri faaliyet gösteren ceviz tutkunlarıyız.</h2>
                        </div>
                        <div class="text">Gazelli Grup olarak, yıllardır müşterilerimize en kaliteli ceviz ürünlerini sunmaktan gurur duyan bir ihracat şirketiyiz. Ceviz dünyasında lider bir konumda bulunuyor ve bu başarıyı müşteri memnuniyetine ve ürün kalitesine olan bağlılığımıza borçluyuz..</div>
                        <div class="text">
                            Müşterilerimize en taze ve lezzetli cevizleri sunabilmek için her aşamada özenle çalışıyoruz. Cevizlerimiz özenle seçilir, işlenir ve dünya çapındaki müşterilerimize ulaştırılır. Sektördeki deneyimimiz ve uzmanlığımız sayesinde müşterilerimize en iyi kaliteyi sunmaktan her zaman gurur duyuyoruz.
                        </div>
                        
                    </div>
                </div>

                <!-- Image Column -->

                <figure class="image-1"><a href="#" class="lightbox-image" data-fancybox="images"><img title="Rahul Kumar Yadav" src="/4170-removebg-preview.png" alt=""></a></figure>

            </div>
        </div>
        </section>
  
  
  

       
   
   
      
    


   

    

</body>