<body>

    <div class="service-image ">
        <div class="servicebc"></div>
       
    </div>

    <div class="eleven">
        <h1>@_localization.Getkey("Ürünlerimiz")</h1>
    </div>



    <section class="about-section py-5">
        <div class="container">
            <div class="row">
                <!-- Content Column -->
                <div class="col-lg-6 col-md-12 col-sm-12 order-2">
                    <div class="inner-column">
                        <div class="sec-title">
                            <span class="title"></span>
                            <h2><strong>@_localization.Getkey("kırık") </strong> </h2>
                        </div>
                        <div class="text">
                            @_localization.Getkey("text1")  
                        </div>
                        <div class="text">
                            @_localization.Getkey("text")
                           
                        </div>
                    </div>
                </div>

                <!-- Image Column -->
                <div class="col-lg-6 col-md-12 col-sm-12 order-1">
                    <figure class="image-1">

                        <img title="Rahul Kumar Yadav" src="/walnut-pieces.jpg" alt="" class="img-fluid">
                        
                    </figure>
                </div>
            </div>
        </div>
    </section>

</body>
